@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --heading-font: 'Alata', sans-serif;
    --body-font: 'Josefin Sans', sans-serif;
    --body-font-size: 15px;
    --tablet-body-font-size: 12px;
    --heading-1: 3.5rem;
    --tablet-heading-size: 2.8rem;
    --mobile-heading-size: 1.8rem;
    --heading-2: 2.3rem;
    --tablet-heading-2: 1.4rem;
    --mobile-heading-2: 1rem;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --body-font-color: hsl(0, 0%, 55%);
    --copyright-color: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

main {
    background: url(./images/desktop/image-hero.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navlinks {
    width: max-content;
    display: flex;
    font-family: var(--body-font);
}

.navlinks > ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navlinks > ul > li {
    list-style: none;
    font-size: var(--body-font-size);
}

.navlinks > ul > li > a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

.navlinks > ul > li > a:hover {
    border-width: 2rem;
    border-bottom: 1px solid var(--white);
}

.description {
    height: 45%;
    width: 40%;
    border: 2px solid var(--white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 12.5%;
}

.description > h1 {
    font-size: var(--heading-1);
    text-align: left;
    margin-left: 1.5rem;
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 100;
    text-transform: uppercase;
}

/*HERO SECTION ENDS*/

.about {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;    
}

.about-container {
    width: 75%;
    height: 70%;
    position: relative;
}

.about-img {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

.text-interactive {
    position: absolute;
    width: 50%;
    height: 60%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4.5rem 0 0 4.5rem;
    background-color: var(--white);
}

.text-interactive > h1 {
    font-size: var(--heading-2);
    font-family: var(--body-font);
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
}

.text-interactive > p {
    font-size: var(--body-font-size);
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--copyright-color);
    line-height: 1.2;
    width: 100%;
}

/*ABOUT SECTION ENDS*/

.creations {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.top-section > p {
    font-size: var(--heading-2);
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--body-font);
}

.top-section > button {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: var(--body-font);
    background-color: transparent;
    letter-spacing: 1px;
    border: 1px solid var(--black);
    font-family: var(--body-font);
    color: var(--black);
    cursor: pointer;
}

.top-section > button:hover {
    background-color: var(--black);
    color: var(--white);
}

.slider-section {
    width: 75%;
    height: 75%;
}

.slider-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.slider {
    animation: scroll 20s linear 0s infinite;
}

.slider-inner {
    position: relative;
    cursor: pointer;
}


.slider-inner > h2 {
    font-size: var(--heading-2);
    color: var(--white);
    font-family: var(--body-font);
    text-transform: uppercase;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-weight: 300;

}


#one {
    background-image: url(./images/desktop/image-deep-earth.jpg);
}

#two {
    background: url(./images/desktop/image-night-arcade.jpg);
}

#three {
    background: url(./images/desktop/image-soccer-team.jpg);
}

#four {
    background: url(./images/desktop/image-grid.jpg);
}

#five {
    background: url(./images/desktop/image-from-above.jpg);
}

#six {
    background: url(./images/desktop/image-pocket-borealis.jpg);
}

#seven {
    background: url(./images/desktop/image-curiosity.jpg);
}

#eight {
    background: url(./images/desktop/image-fisheye.jpg);
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    width: 256px;
}

footer {
    height: 30vh;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-container {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    gap: 1rem;
}

.social-links > img {
    cursor: pointer;
}

.left-footer-container,
.right-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.right-footer-container {
    align-items: flex-end;
}

.copyright > p {
    font-size: var(--body-font-size);
    font-family: var(--body-font);
    color: var(--copyright-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: var(--body-font);
    color: var(--body-font-color);
}

.attribution a {
    color: var(--white);
}

.mobile,
.mobile-nav {
    display: none;
}

@keyframes scroll {
    0% {
        transform: translateX(-900%);
    }
    100% {
        transform: translateX(450%);
    }
}

@media only screen 
  and (min-device-width: 650px) 
  and (max-device-width: 1024px) {
    nav {
        width: 85%;
        margin: 3rem auto;
    }

    .navlinks > ul {
        gap: 1rem;
    }

    .navlinks > ul > li > a {
        font-size: var(--tablet-body-font-size);
    }

    .description {
        height: 40%;
        width: 50%;
        left: 7.5%;
    }
    
    .description > h1 {
        font-size: var(--tablet-heading-size);
    }

    .description > p {
        font-size: var(--tablet-body-font-size);
    }

    .about-container {
        width: 85%;
    }
    
    .about-img {
        width: 70%;
    }
    
    .text-interactive {
        width: 50%;
        height: 60%;
        gap: 2rem;
        padding: 3.5rem 0 0 3.5rem;
    }
    
    .text-interactive > h1 {
        font-size: var(--tablet-heading-2);
    }

    .text-interactive > p {
        font-size: var(--tablet-body-font-size);
    }
    
    .top-section {
        width: 85%;
        margin-bottom: 2rem;
    }
    
    .top-section > h1 {
        font-size: var(--tablet-heading-2);
    }
    
    .top-section > button {
        padding: 8px 20px;
        letter-spacing: .5px;
    }
    
    .slider-section {
        width: 85%;
        height: 75%;
        margin-bottom: 2rem;
    }

    .copyright > p {
        font-size: var(--tablet-body-font-size);
    }

    @keyframes scroll {
        0% {
            transform: translateX(-850%);
        }
        100% {
            transform: translateX(375%);
        }
    }

    .mobile,
    .mobile-menu {
        display: none;
    }
}

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 650px) {
    main {
        background: url(./images/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    nav {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-img{
        width: 120%;
    }

    .mobile-menu {
        background: url(./images/icon-hamburger.svg);
        background-position: right;
        background-repeat: no-repeat;
    }

    .description {
        width: 80%;
        left: 2rem;
    }
    
    .description > h1 {
        font-size: var(--mobile-heading-size);
    }

    .mobile-nav-links {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--black);
        display: none;
        z-index: 1;
        padding: 3rem 2rem;
    }

    .top-mobile-navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .close-logo {
        width: 50%;
    }

    .mobile-nav-links > ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        position: inherit;
    }

    .mobile-nav-links > ul > li > a {
        text-decoration: none;
        font-size: var(--tablet-heading-2);
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--body-font);
    }

    .about-container {
        width: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .mobile {
        display: block;
        width: 100%;
    }
    
    .about-img {
        display: none;
    }
    
    .text-interactive {
        width: 80%;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        position: static;
    }
    
    .text-interactive > h1 {
        font-size: var(--tablet-heading-2);
    }

    .text-interactive > p {
        font-size: var(--tablet-body-font-size);
    }

    .desktop {
        display: none;
    }
    
    .top-section {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .top-section > h1 {
        font-size: var(--tablet-heading-2);
        width: 100%;
        text-align: center;
    }

    #one,
    #two,
    #three,
    #four,
    #five,
    #six,
    #seven,
    #eight {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
        width: 200px;
    }

    .slider-inner > h1 {
        font-size: var(--tablet-heading-2);
        left: 1rem;
    }

    .mobile-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-btn {
        padding: 10px 30px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-size: var(--tablet-body-font-size);
        background-color: transparent;
        border: 1px solid var(--black);
        font-family: var(--body-font);
        color: var(--black);
    }

    footer {
        height: 70vh;
        width: 100%;
        margin-top: 2rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        height: 70%;
    }

    .left-footer-container,
    .right-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        gap: 1.5rem;
    }

    .navlinks > ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @keyframes scroll {
        0% {
            transform: translateX(-950%);
        }
        100% {
            transform: translateX(150%);
        }
    }
  }