@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --heading-font: 'Alata', sans-serif;
    --body-font: 'Josefin Sans', sans-serif;
    --body-font-size: 15px;
    --heading-1: 3.5rem;
    --tablet-heading-size: 2.8rem;
    --mobile-heading-size: 1.8;
    --heading-2: 2.3rem;
    --tablet-heading-2: 1.4rem;
    --mobile-heading-2: 1rem;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --body-font-color: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: auto;
}

main {
    background: url(./images/desktop/image-hero.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navlinks {
    width: max-content;
    display: flex;
    font-family: var(--body-font);
}

.navlinks > ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navlinks > ul > li {
    list-style: none;
    font-size: var(--body-font-size);
}

.navlinks > ul > li > a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

.description {
    height: 45%;
    width: 40%;
    border: 2px solid var(--white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 12.5%;
}

.description > h1 {
    font-size: var(--heading-1);
    text-align: left;
    margin-left: 1.5rem;
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 100;
    text-transform: uppercase;
}

/*HERO SECTION ENDS*/

.about {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;    
}

.about-container {
    width: 75%;
    height: 70%;
    position: relative;
}

.about-img {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

.text-interactive {
    position: absolute;
    width: 50%;
    height: 60%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 0 0 4.5rem;
    background-color: var(--white);
}

.text-interactive > h1 {
    font-size: var(--heading-2);
    font-family: var(--body-font);
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
}

.text-interactive > p {
    font-size: var(--body-font-size);
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
}

/*ABOUT SECTION ENDS*/

.creations {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.top-section > h1 {
    font-size: var(--heading-2);
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--body-font);
}

.top-section > button {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: var(--body-font);
    background-color: transparent;
    letter-spacing: 1px;
    border: 1px solid var(--black);
    font-family: var(--body-font);
    color: var(--black);
    cursor: pointer;
}

.top-section > button:hover {
    background-color: var(--black);
    color: var(--white);
}

.slider-section {
    width: 75%;
    height: 75%;
}

.slider-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 80%;
}

.slider {
    animation: scroll 20s linear 0s infinite;
}

.slider-inner {
    position: relative;
    cursor: pointer;
}


.slider-inner > h1 {
    font-size: var(--heading-2);
    color: var(--white);
    font-family: var(--body-font);
    text-transform: uppercase;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-weight: 300;

}


#one {
    background-image: url(./images/desktop/image-deep-earth.jpg);
}

#two {
    background: url(./images/desktop/image-night-arcade.jpg);
}

#three {
    background: url(./images/desktop/image-soccer-team.jpg);
}

#four {
    background: url(./images/desktop/image-grid.jpg);
}

#five {
    background: url(./images/desktop/image-from-above.jpg);
}

#six {
    background: url(./images/desktop/image-pocket-borealis.jpg);
}

#seven {
    background: url(./images/desktop/image-curiosity.jpg);
}

#eight {
    background: url(./images/desktop/image-fisheye.jpg);
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    width: 256px;
}

@keyframes scroll {
    0% {
        transform: translateX(-900%);
    }
    100% {
        transform: translateX(450%);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}